<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mll.dao.test.MariaTestDao">

    <select id="selectTestMariaDb" parameterType="org.mll.dto.test.MariaTestDto" resultType="org.mll.dto.test.MariaTestDto">
        SELECT  USER_ID AS userId
              , USER_PASS AS userPass
        FROM MLL_USER
        WHERE USER_ID = #{searchUserId}
    </select>

    <select id="selectSearchId" parameterType="org.mll.dto.test.MariaTestDto" resultType="org.mll.dto.test.MariaTestDto">
        SELECT  USER_ID AS userId
        FROM MLL_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectLoginUs" parameterType="String" resultType="Integer">
        SELECT  COUNT(*)
        FROM MLL_USER
        WHERE USER_ID = #{findUserId}
        AND USER_PASS = #{findUserPass}
    </select>
</mapper>
